latex/*.aux
latex/*.out
latex/*.log
latex/*.toc
latex/*.synctex.gz
*.nc
*.swp
*.DS_Store
*.npz
*.pyc
*.gbx9
*.ncx
netcdf_to_grib2/out/*
netcdf_to_grib2/figs/*
netcdf_production/output/*
#
forecast_scripts/hidden/*
forecast_scripts/test/*
forecast_scripts/test_check/*
forecast_scripts/out/*
forecast_scripts/logs/*
forecast_scripts/ice_only/datelist.txt
forecast_scripts/ice_only/last_restart.txt
forecast_scripts/wavesice/datelist.txt
forecast_scripts/wavesice/last_restart.txt
forecast_scripts/loglog
forecast_scripts/alert_waves/out/*
#
python_tutorial/out
python_tutorial/eg_TP4files
validation/SWARP*
#
validation/ice_charts/test_outputs/*
validation/ice_charts/test_inputs/*
!validation/ice_charts/test_inputs/*.imz
!validation/ice_charts/test_inputs/*.txt
validation/ice_charts/test_inputs2/*
#
validation/data/*
validation/outputs/*
