latex/*.aux
latex/*.out
latex/*.log
latex/*.toc
latex/*.synctex.gz
*.swp
*.pyc
*.gbx9
*.ncx
netcdf_to_grib2/out/*
netcdf_to_grib2/figs/*
netcdf_production/output/*
#
forecast_scripts/hidden/*
forecast_scripts/test/*
forecast_scripts/test_check/*
forecast_scripts/out/*
forecast_scripts/logs/*
forecast_scripts/datelist.txt
#
python_tutorial/out
validation/SWARP*
