latex/*.aux
latex/*.out
latex/*.log
latex/*.toc
latex/*.synctex.gz
*.swp
*.pyc
*.gbx9
*.ncx
netcdf_to_grib2/out/*
netcdf_to_grib2/figs/*
netcdf_production/output/*
#
forecast_scripts/expt_01.0/*
forecast_scripts/test/*
